# spark sql study

开始

In [15]:
sc?

In [27]:
lines=sc.parallelize(["pan","i like pan"])

In [36]:
lines.first()

'pan'

In [37]:
lines.count()

2

In [2]:
for i in range(1):
    print i*i

0

#导入spark sql

In [6]:
from pyspark.sql import HiveContext,Row

#当不能引入hive依赖时

In [7]:
from pyspark.sql import SQLContext,Row

In [ ]:
sqlctx=sqlContextl(sc)

In [8]:
hivectx=HiveContext(sc)

入门

# 创建基本的sparksession，只需要使用sparksession.builder

In [10]:
from pyspark.sql import SparkSession
spark=SparkSession \
    .bulider \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option","some-value") \
    .getOrCreate()

AttributeError: type object 'SparkSession' has no attribute 'bulider'

根据JSON文件的内容创建一个DataFrame：

路径 本次是项目所在的路径下开始找 ，（或者 启动服务的目录开始找） 
file:/root/Downloads/spark-2.1.0-bin-hadoop2.7/examples/src/main/resources/people.json

In [1]:
df=spark.read.json("../../examples/src/main/resources/people.json")
#df=spark.read.json("./examples/src/main/resources/people.json")
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [2]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [4]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [8]:
df.select(df['name'],df['age'],df['age']+1).show()

+-------+----+---------+
|   name| age|(age + 1)|
+-------+----+---------+
|Michael|null|     null|
|   Andy|  30|       31|
| Justin|  19|       20|
+-------+----+---------+